/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.tab-pane {
    display: none;
}
.tab-pane-active {
    display: block;
}

section {
    margin-bottom: 4em;
}

.form-row-helper-text td{
    font-size: 90%;
    margin-top: 0;
    padding-top: 0;
    padding-left: 0;
}


textarea.shortcode_code {
    font-family: Courier;
    border: 0;
    background-color: transparent;
    /* box-shadow: none; */
    font-size: 20px;
}

.template_form {
    margin-bottom: 3rem;
}
.file-edit-group {
    width:100%;
}
.file-edit-group label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.75em;
    background: aliceblue;
    border-bottom: 1px solid #cee5f9;
    cursor: pointer;
    font-size: 1rem;
}
.file-edit-group textarea.file-edit-control {
    width:100%;
    height: 500px;
    display:none
}
.file-edit-group.active textarea.file-edit-control {
    display:block;
}

.CodeMirror {
    border: 1px solid #ddd;
  }